<footer id="site-footer">
  <div class="footer-inner">
    <div class="credits">
      <img class="kotel" src="/assets/img/kotel.svg">
      <div class="footer-left">
        <p class="footer-caption">Coded and (witch)crafted by</p>
        <p class="footer-name">Valeriya Ten [2026]</p>
      </div>
    </div>

    <div class="footer-right">
      <ul class="social">
        <li>
          <a
            href="https://www.linkedin.com/in/valeriaten/"
            target="_blank"
            rel="me"
          >
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/lerrlera"
            target="_blank"
            rel="me"
          >
            <i class="fa-brands fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
